<div class="form-group">
    <label><strong>Listagem dos jogadores</strong></label>
</div>

<div class="form-group" *ngIf="jogadores === undefined">
    <label style="color: red"><strong>Erro na consulta dos jogadores.</strong></label>
</div>

<div class="form-group" *ngIf="jogadores === null">
    <label style="color: red"><strong>Não existem jogadores cadastrados.</strong></label>
</div>


<table class="table" *ngIf="jogadores !== undefined && jogadores !== null">
    <thead>
        <tr>
        <th>Nome</th>
        <th>Partidas</th>
        <th>Vitórias</th>
        <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jogador of jogadores">
            <td>{{jogador.nome}}</td>
            <td>{{jogador.partidas}}</td>
            <td>{{jogador.vitorias}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="addPartida(jogador)">Adicionar Partida</button>
                <button type="button" class="btn btn-primary" (click)="addVitoria(jogador)">Adicionar Vitória</button>
            </td>
        </tr>
    </tbody>
</table>

