<div class="form-group">
    <label><strong>Adição de Novo Jogador</strong></label>
</div> 

<form class="form-inline" novalidate>
  
  <div class="form-group" >
    <label for="nomeJogador">Nome do Jogador:</label>
    <input type="text" id="nomeJogador" (input)="setNomeJogador($event)" class="form-control mx-sm-3"  style="min-width:300px;" ng-required="required" required> 
  </div>
  
  <div class="form-group" style="padding-top: 10px;">
      <label for="partidas">Partidas:</label>
      <input type="number" id="partidas" (input)="setPartidas($event)" min="0" class="form-control mx-sm-3">
      <label for="vitorias">Vitórias:</label>
      <input type="number" id="vitorias" (input)="setVitorias($event)" min="0" class="form-control mx-sm-3">
      <button type="button" class="btn btn-primary" (click)="addJogador()">Adicionar</button>
    </div>

</form>

<br>

<div class="form-group" *ngIf="erroMensagem !== undefined">
  <label ><strong>Erro no cadastro do jogador. Motivo:</strong></label>
  <label style="color: red"><strong>{{erroMensagem}} </strong></label>
</div>